* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #ccc6c9;
  --secondary-color: black;
  --tertiary-color: #d1926d;
  --quaternary-color: #3b8769;
  --quinary-color: #fff2e4;
  --senary-color: #a17c6b;
}

img {
  max-width: 100%;
}

.forsidebillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.imgcv {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom: 20px;
}

.imgline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 150px;
}

.streg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.imgkontakt {
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

li {
  list-style: none;
  font-family: Quicksand;
  letter-spacing: 3px;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: var(--tertiary-color);
}

.burger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 700px) {
  .burger {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 15px;
  }
  .nav-menu.active {
    left: 0;
  }
}

body {
  background-color: var(--primary-color);
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

footer {
  background-color: var(--senary-color);
}

/*************************************** tekst *****************************************/

.forsideh1 {
  font-family: Archivo black;
  color: var(--tertiary-color);
  font-size: 4rem;
  padding-top: 7rem;
  letter-spacing: 5px;
}

@media (max-width: 1200px) {
  .forsideh1 {
    font-size: 2rem;
  }
}

.forsideh2 {
  font-family: Quicksand;
  letter-spacing: 5px;
  padding-bottom: 20px;
  color: var(--quaternary-color);
  font-size: 2.5rem;
}

.h2cv {
  font-family: Archivo black;
  color: var(--tertiary-color);
  font-size: 3rem;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2rem;
}

.h3cv {
  font-family: Quicksand;
  letter-spacing: 5px;
  padding-bottom: 20px;
  padding-top: 35px;
  color: var(--quaternary-color);
  font-size: 30px;
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 20px;
}

.h3cva {
  font-family: Quicksand;
  letter-spacing: 5px;
  padding-bottom: 20px;
  padding-top: 77px;
  color: var(--quaternary-color);
  font-size: 30px;
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 20px;
}

/*den fede sorte underoverskrift*/
.h4cv {
  font-family: Montserrat;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
  width: 90%;
}

.forsidep {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
}

.pcvtop {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.pcvright {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  width: 90%;
  color: var(--secondary-color);
  margin-bottom: 15px;
}

.pkontakt {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  padding-bottom: 22px;
  color: var(--secondary-color);
  margin-left: 10px;
  margin-bottom: 10px;
}

.ptema {
  font-family: Quicksand;
  color: var(--quinary-color);
  padding-top: 10px;
  margin-bottom: 5px;
}

.somelogo {
  display: block;
  margin-left: auto;
}

.box {
  border: 1px solid var(--tertiary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

/*temaikoner på brun baggrund*/
.ikon {
  padding: 4rem;
}

/****************************************** Grid ********************************/
/* grid til tema ikoner*/
.grid1 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
/*******forsidesection deles op for at få dem til at fylde en bestemt mængde plads i grid1********/
.forsidesection {
  grid-row: 1/3;
  margin-inline: auto;
}

.forsidesection1 {
  grid-row: 3/4;
  grid-column: 1/2;
}

/*******flex  putter tekst i bokse så de ligger ved siden af hinanden********/
.flexkontakt {
  display: flex;
  flex-direction: column;
}

.flexkontakt2 {
  display: flex;
}

.grid1_1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  display: flex;
  justify-content: center;
  background-color: var(--senary-color);
  text-align: center;
  padding: 80px 0px 80px 0px;
  width: 100%;
  /****husk at sætte om i media***/
  margin-top: 25px;
}

/*forsidegrid øverst*/
.grid1_1a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/*forsidegrid nederst*/
.grid1_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
  padding-bottom: 70px;
}

.grid1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
}

.grid1_1footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
}

/****************************************java %bar animation*************************************/

.skillbarp {
  font-family: Quicksand;
  margin-bottom: 20px;
  margin-top: 1px;
  margin-right: 115px;
  text-align: right;
  letter-spacing: 1.5px;
}

#skillbar_container,
#skillbar_container1,
#skillbar_container2,
#skillbar_container3,
#skillbar_container4,
#skillbar_container5 {
  width: 70%;
  aspect-ratio: 20/1;
  border: solid;
  border-radius: 5px;
  border-width: thin;
  margin-right: 2rem;
  background-color: gray;
}

#skillbar_sprite,
#skillbar_sprite1,
#skillbar_sprite2,
#skillbar_sprite3,
#skillbar_sprite4,
#skillbar_sprite5 {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  transform-origin: left;
  border-radius: 5px;
}

.tid {
  animation-name: tid_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

/*0.8 er x akse i from*/
@keyframes tid_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.7 1;
  }
}

.tid1 {
  animation-name: tid1_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tid1_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.6 1;
  }
}
.tid2 {
  animation-name: tid2_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tid2_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.3 1;
  }
}

.tid3 {
  animation-name: tid3_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tid3_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.5 1;
  }
}

.tid4 {
  animation-name: tid4_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tid4_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.2 1;
  }
}

.tid5 {
  animation-name: tid5_kf;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes tid5_kf {
  from {
    scale: 0 1;
  }
  to {
    scale: 0.9 1;
  }
}
