* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #ccc6c9;
  --secondary-color: black;
  --tertiary-color: #d1926d;
  --quaternary-color: #3b8769;
  --quinary-color: #ffe9d0;
  --senary-color: #a17c6b;
}

img {
  max-width: 100%;
}

.streg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.streg1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 30px;
}

.somelogo {
  display: block;
  margin-left: auto;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  font-family: Quicksand;
  font-size: 1rem;
  margin: 5px;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  padding: 1.5rem;
  text-decoration: none;
  letter-spacing: 7px;
  font-style: normal;
  color: var(--secondary-color);
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav ul li a:hover {
  text-decoration: none;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: Quicksand;
  color: var(--tertiary-color);
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

body {
  background-color: var(--primary-color);
}

footer {
  background-color: var(--senary-color);
}

h1 {
  font-family: Archivo black;
  color: var(--tertiary-color);
  font-size: 3rem;
  letter-spacing: 1px;
  padding-bottom: 10px;
  padding-top: 130px;
  text-align: center;
}

h2 {
  font-family: Quicksand;
  letter-spacing: 2px;
  color: var(--quaternary-color);
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  padding-bottom: 25px;
  text-align: center;
  color: var(--secondary-color);
  margin: 0px 250px 100px 250px;
}

.box {
  border: 1px solid var(--tertiary-color);
  margin-top: 50px;
  margin-bottom: 50px;
}

/************************* Grid ******************************/
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid1_1footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
}
