* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --primary-color: #ccc6c9;
  --secondary-color: black;
  --tertiary-color: #d1926d;
  --quaternary-color: #3b8769;
  --quinary-color: #ffe9d0;
  --senary-color: #a17c6b;
}

img {
  max-width: 100%;
}

.imgpc {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
  width: 100%;
  padding-bottom: 20px;
}

.streg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 30px;
}

.doodle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.imgdoku {
  margin-top: 87px;
  margin-bottom: 50px;
}

.imgstyle {
  border: 2px solid var(--tertiary-color);
  border-radius: 5px;
}

.somelogo {
  display: block;
  margin-left: auto;
}

header {
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 10;
}

li {
  list-style: none;
  font-family: Quicksand;
  letter-spacing: 3px;
}

a {
  color: black;
  text-decoration: none;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 65px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 130px;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: var(--tertiary-color);
}

.burger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 800px) {
  .burger {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
  }

  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    margin-top: 20px;
  }

  .nav-item {
    margin: 15px;
  }

  .nav-menu.active {
    left: 0;
  }
}

body {
  background-color: var(--primary-color);
}
main {
  max-width: 1200px;
  margin-inline: auto;
}

footer {
  background-color: var(--senary-color);
}

h1 {
  font-family: Archivo black;
  color: var(--tertiary-color);
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  padding-bottom: 30px;
}

h2 {
  font-family: Quicksand;
  letter-spacing: 5px;
  padding-bottom: 20px;
  padding-top: 30px;
  color: var(--quaternary-color);
  font-size: 30px;
  border-bottom: 1px solid var(--tertiary-color);
  margin-bottom: 20px;
}

p {
  font-family: Quicksand;
  letter-spacing: 1.5px;
  padding-bottom: 25px;
  width: 90%;
  color: var(--secondary-color);
}

#textlink {
  font-family: Quicksand;
  color: var(--tertiary-color);
}

.box {
  padding: 50px;
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid var(--tertiary-color);
}
/******************************kanpper**************************/

/*******flexknap  putter knapper i boks så de ligger ved siden af hinanden********/
.flexknap {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.knapstudiestart {
  font-family: Quicksand;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
  margin-top: 20px;
}

.knapstudiestart:hover {
  color: var(--quinary-color);
  background-color: var(--senary-color);
}

.knapemnesite {
  font-family: Quicksand;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  padding: 15px 40px 15px 40px;

  margin-top: 20px;
}

.knapemnesite:hover {
  color: var(--quinary-color);
  background-color: var(--senary-color);
}

.flexprocess {
  display: flex;
  padding-top: 20px;
}

.knapprocess {
  font-family: Quicksand;
  background-color: var(--tertiary-color);
  color: var(--quinary-color);
  border-radius: 5px;
  justify-content: center;
  text-decoration: none;
  padding: 15px;
}

.knapprocess:hover {
  color: var(--quinary-color);
  background-color: var(--senary-color);
}

/****************************************grid**************************/
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
  margin-top: 50px;
}

.grid1_1a {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.grid1_1footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
}

/************************************ mobil layout *********************************/

@media (max-width: 800px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .grid1_1a {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }
}
